body {
    font-family: "inter";
    resize: both;
    overflow: auto;
    zoom:125%;
    /* padding-top: 56.25% */
}

.informatika {
    position: absolute;
    width: 266px;
    height: 39px;
    left: 133px;
    top: 30px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000000;
}

.undiptulisan {
    position: absolute;
    width: 254px;
    height: 28px;
    left: 133px;
    top: 80px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 23.5px;
    line-height: 28px;

    color: #000000;
}

button {
    border: none;
}

/*--------------- RECTANGLE ---------------*/
.r1 {
    position: absolute;
    width: 511px;
    height: 389px;
    left: 269px;
    top: 263px;

    background: #e0ffd8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.r2 {
    position: absolute;
    width: 405px;
    height: 159px;
    left: 812px;
    top: 263px;

    background: #b6e0ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r3 {
    position: absolute;
    width: 395px;
    height: 159px;
    left: 1248px;
    top: 263px;

    background: #e0ffd8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r4 {
    position: absolute;
    width: 189px;
    height: 98px;
    left: 812px;
    top: 443px;

    background: #fecd94;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r5 {
    position: absolute;
    width: 189px;
    height: 98px;
    left: 1028px;
    top: 443px;

    background: #fecd94;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r6 {
    position: absolute;
    width: 405px;
    height: 189px;
    left: 812px;
    top: 569px;

    background: #ebb3ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r7 {
    position: absolute;
    width: 395px;
    height: 98px;
    left: 1248px;
    top: 443px;

    background: #fcadad;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r8 {
    position: absolute;
    width: 395px;
    height: 98px;
    left: 1248px;
    top: 562px;

    background: #fcadad;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.r9 {
    position: absolute;
    width: 1382px;
    height: 264px;
    left: 269px;
    top: 786px;

    background: #e0ffd8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#r10 {
    position: absolute;
    width: 259px;
    height: 142px;
    left: 325px;
    top: 865px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#r11 {
    position: absolute;
    width: 259px;
    height: 142px;
    left: 658px;
    top: 865px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#r12 {
    position: absolute;
    width: 259px;
    height: 142px;
    left: 992px;
    top: 865px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#r13 {
    position: absolute;
    width: 259px;
    height: 142px;
    left: 1326px;
    top: 865px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.r14 {
    /* Rectangle 90 */

    position: absolute;
    width: 65px;
    height: 68px;
    left: 269px;
    top: 690px;

    background: #3628d9;
}
.r15 {
    /* Rectangle 89 */

    box-sizing: border-box;

    position: absolute;
    width: 511px;
    height: 68px;
    left: 269px;
    top: 690px;

    background: rgba(54, 40, 217, 0.1);
    border: 1px solid #3628d9;
}
.r16 {
    /* Rectangle 98 */

    box-sizing: border-box;

    position: absolute;
    width: 397px;
    height: 68px;
    left: 1248px;
    top: 688px;

    background: rgba(54, 40, 217, 0.1);
    border: 1px solid #3628d9;
}
.r17 {
    /* Rectangle 104 */

    position: absolute;
    width: 65px;
    height: 68px;
    left: 1248px;
    top: 688px;

    background: #3628d9;
}

/*--------------- LINE ---------------*/
.l1 {
    position: absolute;
    width: 1920vh;
    height: 0px;
    left: 0px;
    top: 136px;

    border: 1px solid #949494;
}

.profiltxt {
    position: absolute;
    width: 184px;
    height: 24px;
    left: 300px;
    top: 284px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

/*--------------- TEXT ---------------*/
.t1 {
    position: absolute;
    width: 99px;
    height: 24px;
    left: 837px;
    top: 282px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.t2 {
    position: absolute;
    width: 88px;
    height: 24px;
    left: 862px;
    top: 480px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.t3 {
    /* KHS */

    position: absolute;
    width: 41px;
    height: 24px;
    left: 1102px;
    top: 480px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.t4 {
    /* Help Desk */

    position: absolute;
    width: 157px;
    height: 39px;
    left: 936px;
    top: 644px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.t5 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 1281px;
    top: 282px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.t6 {
    /* PKL */

    position: absolute;
    width: 61px;
    height: 39px;
    left: 1415px;
    top: 473px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.t7 {
    /* Skripsi */

    position: absolute;
    width: 93px;
    height: 34px;
    left: 1399px;
    top: 594px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    color: #000000;
}

.t8 {
    position: absolute;
    width: 82px;
    height: 24px;
    left: 300px;
    top: 812px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.t9 {
    /* Teams */

    position: absolute;
    width: 101px;
    height: 39px;
    left: 352px;
    top: 913px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}
.t10 {
    /* Email */

    position: absolute;
    width: 82px;
    height: 39px;
    left: 687px;
    top: 913px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}
.t11 {
    /* Radio */

    position: absolute;
    width: 87px;
    height: 39px;
    left: 1024px;
    top: 913px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}
.t12 {
    /* About */

    position: absolute;
    width: 93px;
    height: 39px;
    left: 1354px;
    top: 913px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}
.t13 {
    /* PKL dan Skripsi dapat diambil jika SKSk telah memenuhi batas minimal! */

    position: absolute;
    width: 266px;
    height: 30px;
    left: 1326px;
    top: 706px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}
.t14 {
    /* Pastikan Data yang Tertera Benar! */

    position: absolute;
    width: 200px;
    height: 15px;
    left: 352px;
    top: 705px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}
.t15 {
    /* Segera lakukan Update Data Pribadi untuk menggunakan fitur lain! */

    position: absolute;
    width: 376px;
    height: 15px;
    left: 352px;
    top: 724px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}

/*--------------- IMAGE ---------------*/
.i1 {
    /* Microsoft logo */

    position: absolute;
    width: 114px;
    height: 114px;
    left: 460px;
    top: 879px;
}

.i2 {
    /* Outlook logo */

    position: absolute;
    width: 90px;
    height: 86px;
    left: 799px;
    top: 890px;
}
.i3 {
    /* radiopatria_radiofm.default logo */

    position: absolute;
    width: 111px;
    height: 66px;
    left: 1122px;
    top: 903px;
}
.i4 {
    /* Layer_1 */

    position: absolute;
    left: 1459px;
    top: 886px;
    right: 102px;
    bottom: 79.2px;
}
.i5 {
    /* universitas-diponegoro-logo 2 */

    position: absolute;
    width: 75px;
    height: 96px;
    left: 34px;
    top: 21px;
}
.i6 {
    /* 🦆 icon "warning" */

    position: absolute;
    width: 44px;
    height: 39.78px;
    left: 278px;
    top: 705px;


}
.i7 {
    /* Trophy */

    position: absolute;
    width: 43px;
    height: 43px;
    left: 1259px;
    top: 701px;

    background: url(.png);
}
.i8 {
    /* Ellipse 1 */

    position: absolute;
    width: 128px;
    height: 128px;
    left: 300px;
    top: 348px;

    background: url(bebek.png);
}
/*--------------- GET TEXT ---------------*/
#gt1 {
    /* 24060120130053 */

    position: absolute;
    width: 118px;
    height: 17px;
    left: 451px;
    top: 360px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
#gt2 {
    /* Arya Gessangie Sugyanti Nora Faqih */

    position: absolute;
    width: 242px;
    height: 17px;
    left: 451px;
    top: 385px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
#gt3 {
    /* AGSNF@students.bebek.ac.id */

    position: absolute;
    width: 199px;
    height: 17px;
    left: 451px;
    top: 410px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
#gt4 {
    /* 0812 3456 7890 */

    position: absolute;
    width: 110px;
    height: 17px;
    left: 451px;
    top: 435px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
#gt5 {
    /* 2022/2023 Ganjil */

    position: absolute;
    width: 115px;
    height: 17px;
    left: 306px;
    top: 496px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
#gt6 {
    /* Fakultas Sains dan Matematika */

    position: absolute;
    width: 238px;
    height: 19px;
    left: 406px;
    top: 549px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
#gt7 {
    /* Departemen Ilmu Komputer/Informatika */

    position: absolute;
    width: 302px;
    height: 19px;
    left: 374px;
    top: 576px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
#gt8 {
    /* S1 */

    position: absolute;
    width: 18px;
    height: 19px;
    left: 525px;
    top: 603px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
#gt9 {
    /* 4.00 / 90 */

    position: absolute;
    width: 217px;
    height: 58px;
    left: 906px;
    top: 323px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    color: #000000;
}
#gt10 {
    /* Anggraeni Puspitasari */

    position: absolute;
    width: 315px;
    height: 35px;
    left: 1288px;
    top: 331px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
    /* identical to box height */

    color: #000000;
}
