.informatika {
    position: absolute;
    width: 266px;
    height: 39px;
    left: 133px;
    top: 30px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000000;
}

.undiptulisan {
    position: absolute;
    width: 254px;
    height: 28px;
    left: 133px;
    top: 80px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 23.5px;
    line-height: 28px;

    color: #000000;
}
.tahunan{
    transform: translate(50px,-125px);
}
.rekap{
    position: absolute;
    width: 327px;
    height: 44px;
    left: 103px;
    top: 152px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #000000;
}
.i5 {
    /* universitas-diponegoro-logo 2 */

    position: absolute;
    width: 75px;
    height: 96px;
    left: 34px;
    top: 21px;
}
.kotak1{
    position: absolute;
    width: 78px;
    height: 182.08px;
    left: 100px;
    top: 350px;
    background: #C1C1C1;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transform: rotate(-90deg);
}
.kotak2{
    position: absolute;
    width: 78px;
    height: 182.08px;
    left: 311px;
    top: 350px;

    background: #C1C1C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transform: rotate(-90deg);
}
.kotak3{
    position: absolute;
    width: 78px;
    height: 182.08px;
    left: 521.97px;
    top: 350px;

    background: #C1C1C1;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transform: rotate(-90deg);
}
.kotak4{
    position: absolute;
    width: 78px;
    height: 182.08px;
    left: 733px;
    top: 350px;

    background: #C1C1C1;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transform: rotate(-90deg);
}
.kotak5{
    position: absolute;
    width: 78px;
    height: 182px;
    left: 944px;
    top: 350px;

    background: #C1C1C1;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transform: rotate(-90deg);
}
.kotak6{
    position: absolute;
    width: 78px;
    height: 182px;
    left: 1155px;
    top: 350px;

    background: #C1C1C1;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transform: rotate(-90deg);
}
.kotak7{
    box-sizing: border-box;
    position: absolute;
    width: 1722px;
    height: 551px;
    left: 98px;
    top: 385px;

    background: #D9D9D9;
    opacity: 0.3;
    border: 1px solid #2F2F2F;
    border-radius: 10px;
}
.kotak8{
    position: absolute;
    width: 504px;
    height: 322px;
    left: 340px;
    top: 426px;

    background: linear-gradient(0deg, rgba(61, 227, 34, 0.2), rgba(61, 227, 34, 0.2)), #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.kotak9{
    position: absolute;
    width: 504px;
    height: 322px;
    left: 1088px;
    top: 426px;

    background: linear-gradient(0deg, rgba(227, 34, 34, 0.2), rgba(227, 34, 34, 0.2)), #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.satu{
    position: absolute;
    width: 78px;
    height: 39px;
    left: 152px;
    top: 292px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
}
.dua{
    position: absolute;
    width: 77px;
    height: 39px;
    left: 364px;
    top: 292px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
}
.tiga{
    position: absolute;
    width: 77px;
    height: 39px;
    left: 574px;
    top: 292px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
}
.empat{
    position: absolute;
    width: 81px;
    height: 39px;
    left: 783px;
    top: 292px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;

}
.lima{
    position: absolute;
    width: 77px;
    height: 39px;
    left: 996px;
    top: 292px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
}
.enam{
    position: absolute;
    width: 81px;
    height: 39px;
    left: 1205px;
    top: 292px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
}
.tuju{
    position: absolute;
    width: 149px;
    height: 103px;
    left: 517px;
    top: 496px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 85px;
    line-height: 103px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
}
.lapan{
    position: absolute;
    width: 106px;
    height: 103px;
    left: 1287px;
    top: 496px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 85px;
    line-height: 103px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
}
.teks1{
    position: absolute;
    width: 319px;
    height: 58px;
    left: 432px;
    top: 643px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
}
.teks2{
    position: absolute;
    width: 316px;
    height: 58px;
    left: 1182px;
    top: 643px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
}
.tombol{
    position: absolute;
    width: 329px;
    height: 96px;
    left: 794px;
    top: 817px;

    background: rgba(15, 11, 254, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.teks3{
    position: absolute;
    width: 218px;
    height: 48px;
    left: 850px;
    top: 841px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

}