html {
    zoom: 130%;
}
table,
th,
td {
    border: 1px solid black;
}
.r1 {
    /* Rectangle 45 */

    box-sizing: border-box;

    position: absolute;
    width: 570px;
    height: 242px;
    left: 342px;
    top: 213px;

    background: #f1f1f1;
    border: 1px solid #959595;
    border-radius: 3px;
}
.r2 {
    /* Rectangle 48 */

    position: absolute;
    width: 212px;
    height: 115px;
    left: 1123px;
    top: 213px;

    background: #84ffff;
    border-radius: 5px;
}
.r3 {
    /* Rectangle 50 */

    position: absolute;
    width: 212px;
    height: 115px;
    left: 1123px;
    top: 340px;

    background: #fdff8f;
    border-radius: 5px;
}
.r4 {
    /* Rectangle 51 */

    position: absolute;
    width: 212px;
    height: 115px;
    left: 1372px;
    top: 213px;

    background: #97ff95;
    border-radius: 5px;
}
.r5 {
    /* Rectangle 52 */

    position: absolute;
    width: 212px;
    height: 115px;
    left: 1372px;
    top: 340px;

    background: #ff7373;
    border-radius: 5px;
}
.r6 {
    /* Line 5 */

    position: absolute;
    width: 1246px;
    height: 0px;
    left: 337px;
    top: 529px;

    border: 1px solid #949494;
}
.t1 {
    /* Dashboard Operator */

    position: absolute;
    width: 355px;
    height: 44px;
    left: 342px;
    top: 148px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;
}
.t2 {
    /* Profil */

    position: absolute;
    width: 51px;
    height: 24px;
    left: 356px;
    top: 229px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
.t3 {
    /* Bensu */

    position: absolute;
    width: 96px;
    height: 39px;
    left: 531px;
    top: 277px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}
.t4 {
    /* Operator */

    position: absolute;
    width: 102px;
    height: 29px;
    left: 531px;
    top: 321px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}
.t5 {
    /* Fakultas Sains dan Matematika */

    position: absolute;
    width: 352px;
    height: 29px;
    left: 531px;
    top: 355px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}
.t6 {
    /* Informatika */

    position: absolute;
    width: 128px;
    height: 29px;
    left: 531px;
    top: 389px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}
.t7 {
    /* 771 */

    position: absolute;
    width: 40px;
    height: 31px;
    left: 1141px;
    top: 229px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    color: #000000;
}
.t8 {
    /* Jumlah Mahasiswa Aktif */

    position: absolute;
    width: 148px;
    height: 42px;
    left: 1141px;
    top: 276px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    color: #000000;
}
.t9 {
    /* 200 */

    position: absolute;
    width: 45px;
    height: 31px;
    left: 1141px;
    top: 353px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    color: #000000;
}
.t10 {
    /* Jumlah Mahasiswa Belum Disetujui Doswal */

    position: absolute;
    width: 176px;
    height: 42px;
    left: 1141px;
    top: 400px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    color: #000000;
}
.t11 {
    /* 200 */

    position: absolute;
    width: 45px;
    height: 31px;
    left: 1393px;
    top: 229px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    color: #000000;
}
.t12 {
    /* Jumlah Mahasiswa Belum Lulus */

    position: absolute;
    width: 148px;
    height: 42px;
    left: 1393px;
    top: 276px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    color: #000000;
}
.t13 {
    /* 100 */

    position: absolute;
    width: 42px;
    height: 31px;
    left: 1393px;
    top: 355px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    color: #000000;
}
.t14 {
    /* Jumlah Dosen Pengampu */

    position: absolute;
    width: 107px;
    height: 42px;
    left: 1393px;
    top: 402px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    color: #000000;
}
.t15 {
    /* Cari */

    position: absolute;
    width: 39px;
    height: 24px;
    left: 1365px;
    top: 569px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}
#dropdowntampilan {
    /* Rectangle 36 */

    box-sizing: border-box;

    position: absolute;
    width: 208px;
    height: 51px;
    left: 342px;
    top: 585px;

    background: #ffffff;
    border: 1px solid #797979;
    border-radius: 5px;
}
#cari {
    /* Rectangle 35 */

    box-sizing: border-box;

    position: absolute;
    width: 219px;
    height: 35px;
    left: 1365px;
    top: 599px;

    background: #ffffff;
    border: 1px solid #797979;
    border-radius: 5px;
}
.tb1 {
    /* Data Mahasiswa */

    box-sizing: border-box;

    /* Auto layout */

    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1240px;
    height: 216px;
    left: 343px;
    top: 687px;

    background: #ffffff;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
}
.i1 {
    /* Account circle */

    position: absolute;
    width: 150px;
    height: 150px;
    left: 362px;
    top: 269px;
}
